<h1>
  <%= @place["name"]%>
  </h1>
  
  <h3>Activities</h3>

<ul>
  <% for entry in @entries %>
  <div style="margin-bottom: 20px;">
 <h5 style="margin: 0;"><%= entry["title"]%> </h5>
 <p style="margin: 0; font-style: italic;"> <%= entry["posted_on"]%> </p>
 <p style="margin-top: 5px"> <%= entry["description"]%> </p> 
 </div>

   
  <% end %>
</ul>
  
 <p>
  <a href="/entries/new?place_id=<%= @place["id"] %>">New Activity</a>
</p>

  
  <p>
    <a href="/places">Back to All Places</a>
  </p>



 